In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st


# Read the data files
jeopardy_teen_df= pd.read_csv('kids_teen.csv', sep='\t')
jeopardy_teen_df.head()

,round,value,daily_double,category,comments,answer,question,air_date,notes
0,1,100,no,BIRDS,-,The bat parrot probably got its name from slee...,upside-down,1987-02-16,1987 Teen Tournament quarterfinal game 1.
1,1,200,no,BIRDS,-,"Too ""lei""zy to migrate, the geese in this trop...",Hawaii,1987-02-16,1987 Teen Tournament quarterfinal game 1.
2,1,300,no,BIRDS,-,A bird waterproofs its feathers with oil from ...,its tail,1987-02-16,1987 Teen Tournament quarterfinal game 1.
3,1,100,no,THE LIBRARY,-,Defacing books or shouting or throwing spitbal...,three activities prohibited in the library,1987-02-16,1987 Teen Tournament quarterfinal game 1.
4,1,200,no,THE LIBRARY,-,"On most reference books in your local library,...",R,1987-02-16,1987 Teen Tournament quarterfinal game 1.

# Read the data files
jeopardy_adult_df= pd.read_csv('master_season1-35.csv', sep='\t')
jeopardy_adult_df.head(30)

In [2]:
jeopardy_df = pd.merge(jeopardy_adult_df, jeopardy_teen_df, on=["round", "value", "daily_double", "category", "comments", "answer", "question","air_date", "notes"])
jeopardy_df

NameError: name 'jeopardy_adult_df' is not defined